article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  transition: none !important;
}
button,
html,
input,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:active,
a:hover {
  outline: none;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: .83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
blockquote {
  margin: 1em 40px;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:after,
q:before {
  content: '';
  content: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 0;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ol,
nav ul {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure,
form {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.floatNone {
  float: none;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearLeft {
  clear: left;
}
.clearRight {
  clear: right;
}
.clearBoth {
  clear: both;
}
.noBg {
  background: none !important;
}
.noBgColor {
  background-color: inherit !important;
}
.noMargin {
  margin: 0 !important;
}
.equalhor-margin {
  margin-left: 10px;
  margin-right: 10px;
}
.bordered {
  box-shadow: 0 0 1px #333 inset;
  -webkit-box-shadow: 0 0 1px #333 inset;
  -moz-box-shadow: 0 0 1px #333 inset;
}
.noPadding {
  padding: 0 !important;
}
.noBorder {
  border: 0 !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.bold {
  font-weight: 700;
}
.hideText {
  display: block;
  text-indent: -9999px;
}
.Textcenter {
  text-align: center !important;
}
.Textleft {
  text-align: left !important;
}
.Textright {
  text-align: right !important;
}
.nounderline {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.centered {
  margin: 0 auto;
}
.overflow-hide {
  overflow: hidden;
}
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.strong,
b,
strong {
  font-weight: 700;
}
.em,
dfn,
em {
  font-style: italic;
}
.small,
small {
  font-size: 75%;
}
ol,
ul {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.commentlist,
.sidebar ol,
.sidebar ul {
  list-style: none;
}

.is-visible {
  opacity: 1;
  animation: fade 2s;
}
.is-hidden {
  opacity: 0;
  animation: fade 2s reverse;
}
.is-removed {
  display: none;
}
.inline-block {
  display: inline-block;
}
.inline-block.v-top {
  vertical-align: top;
}
.inline-block.v-middle {
  vertical-align: top;
}
.vam {
  vertical-align: middle !important;
}
